# Prerequisites
*.d

# Object files
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.dbs
*.backup*
*.bak
*.qc
*.autosave*
builds/Simply-Hard_*.pk3
*.tmp
backups/*
junk
out
/pk3/ACS/compile_log.log
/PK3_Backup
/Temp porting folder
/pk3/ANIMDEFS.bak_leg
